{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

<div class="container">

        <div id="singlefault">

	<div class="row">
		<div class="col-md-4">
			<a class="btn btn-xs btn-info" href="/">Home</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-xs btn-info" href="{% url 'fault-list' %}">Return to Faults</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-xs btn-info" href="update/">Edit {{ fault }}</a>
		</div>
	</div>
	<hr>
               <h3><b>Name:</b> {{ fault }}</h2>
				<hr><br>



<div class="row">
  <div class="col-md-8">
        <h3>Fault Description:</h3>
        <p>{{ fault.description|safe }}</p>
        <h3>Fault Benefit:</h3>
        <p>{{ fault.benefit|safe }}</p>


</div>
  <div class="col-md-4">
  {% if fault.img %}
	<a href="{{ fault.img.url }}"><img src="{% thumbnail fault.img 200x200 crop %}" class="img-thumbnail" alt="{{ fault.name }}" /></a>
    {% else %}
  	 <a href="#" class="thumbnail">
      <img data-src="holder.js/100%x180" alt="Sorry but the image you are trying to reach told me to tell you that it isn't here right now.">
    </a>
  	{% endif %}
  </div>
</div>

 
 </div> <!-- end singlefault


</div> <!-- end container -->

{% endblock %}
